*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font1';
}

body{
    background-color: #f1f5f8;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    padding: 36px;
}

.container p{
    font-size: 18px;
    margin: 16px 0;
}

.img{
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    min-width: 320px;
}

.countdown-item{
    background-color: #49a6e9;
    padding: 6px;
    min-height: 65px;

}

.espired{ 
    color: #222;
    margin: 0 auto;
}

@font-face{
    font-family: 'font1';
    src: url('../fonts/Roboto-Bold.ttf');
}